CLIENT_PORT=

SERVER_PORT=
CORS_ORIGIN=

DATABASE_URL=
SUPABASE_URL=
# From npx supabase status - Authentication keys -> Secret
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_SUPABASE_URL=
## From npx supabase status - Authentication keys -> Publishable
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_API_BASE_URL=