@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "leaflet/dist/leaflet.css";

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);

    --color-success: var(--success);
    --color-warning: var(--warning);
    --color-info: var(--info);
    --color-info-strong: var(--info-strong);
}

:root {
    --radius: 1rem;

    --background: #f8fafc;
    --foreground: #111827;

    --card: #ffffff;
    --card-foreground: #111827;

    --popover: #ffffff;
    --popover-foreground: #111827;

    /* Primary Colour */
    --primary: #f4d125;
    --primary-foreground: #fafafa;
    /* Secondary Colour */
    --secondary: #fefbea;
    --secondary-foreground: #111827;
    /* Tertiary Colour */
    --muted: #f8fafc;
    --muted-foreground: #64748b;
    --accent: #fefbea;
    --accent-foreground: #111827;

    --destructive: #ef4444;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #f4d125;

    /* Extras */
    --success: #22c55e;
    --warning: #f97316;
    --info: #abc7ec;
    --info-strong: #2563eb;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }

    h1 {
        @apply text-4xl font-extrabold tracking-tight text-slate-900;
    }

    h2 {
        @apply text-3xl font-extrabold tracking-tight text-slate-900;
    }

    h3 {
        @apply text-2xl font-semibold text-slate-900;
    }

    p {
        @apply text-slate-600;
    }

    button:not(:disabled),
    [role="button"]:not([aria-disabled="true"]) {
        cursor: pointer;
    }

    button:disabled,
    [role="button"][aria-disabled="true"] {
        cursor: not-allowed;
    }
}
